#footerCtn{
    overflow-x: hidden; 
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #34a2cd20;
    margin-top: 10px;
}

.socialIcons{
    position: relative;
    display: flex;
    gap: 40px;
    list-style: none;
    flex-wrap: wrap;
}
.socialIcons li a{
    font-size: 1.8rem;
    color: #34A1CD;
    transition: all 0.1s ease-in-out;
}
.socialIcons li a:hover{
    color: rgb(0, 54, 90);
}